/* CSS DOSYASI */

/* BOSLUKLARI SIFIRLA */
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(images/1000_F_212666596_sVDhsQ1r3RspOjfykdcRQTPPvw1pzhli.jpg); 
    background-size:cover;
}
 /* HEADER BASLADI*/
h1{
    display: table;
    margin-right:auto;
    margin-left: auto;
    margin-top: 40px;
    border-style: solid;
    font-size: 50px;
    border-radius: 10px;
    background-color:#1B2631;
    color: white;
    border-color:#1B2631;
    font-family: 'Poppins', sans-serif;
    border-width: 10px;
}
/* NAV BASLADI*/

a{
    text-decoration:none;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    border-style: solid;
    border-radius: 20px;
    border-width: 5px;
    font-size:17px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    border-color: white;
    color: black;
    

}
   
 a:hover{
background-color: black;
font-size: 17px;
border-color: black;
color: white;
transition: color .25s ease;
 }
 #menu{
    text-align: center;
    margin-top: 20px;
    margin-right: 5px;
    
 }
 

h2{
    font-size: 50px;
    text-align: center;
    margin-top: 200px;
    color: white;
    font-family: 'Poppins', sans-serif;
    position:relative;
    }
    p{
        color: white;
        font-family: 'Times New Roman', Times, sans-serif;
        text-align: center;
        font-size: 20px;
        margin-bottom: 10px;
    }
    #img{
text-align: center;
margin-top: 50px;
    }
.imgs{
    text-align: center;
    margin-top: 10px;
}
    
